<%-# Header starts -%>
<div class="row gap">
	<div class="col-6">
	    <h2>Action Board <em class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="" data-original-title="Use this action board to help close the loop between your employees feedback and your actions."></em></h2>
	</div>
	<div class="col-6">
	    <div class="float-right">
			<button type="button" class="btn btn-light" data-toggle="modal" data-target=".bd-example-modal-lg">Preview board</button>
			<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal6">Publish board</button>
		</div>
	</div>
</div>

<%-# Header ends -%>


						<!-- Modal -->
<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to publish this action board?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<p>Publishing this action board will make it accessible to everybody after they complete each survey and also if they have access to the following link:</p>
      	<a href="">wwww.perkboxinsights/actionboard</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Publish action board</button>
      </div>
    </div>
  </div>
</div>	

<%-# Header starts -%>
<div class="row">
	<%-# column 1 -%>
	<div class="col-4">
		<div class="card">
			<div class="card-header">
			<img class="img-fluid d-block w-25 mx-auto action" src="https://i.imgur.com/XT23c9S.png">
		    <h5 class="text-center gap">Trending Feedback 
									<a href="#" class="trash small" data-toggle="modal" data-target="#myModal1"><em class="fa fa-pencil"></em></a>
								</h5>
								<p class="text-muted small text-center">Sept - Dec 2017
									<a href="#" class="trash" data-toggle="modal" data-target="#myModal1"><em class="fa fa-pencil"></em></a>
								</p>
						</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									<div class="row">
										<div class="col-12">
											Our processes are starting to get in the way of innovation 
										</div>
									</div>
									<div class="row">
										<div class="col-12 small">
											<div class="float-right">
												<a href="#" class="trash" data-toggle="modal" data-target="#myModal1"><em class="fa fa-pencil"></em></a>
					      						<a href="#" class="trash" data-toggle="modal" data-target="#myModal2"><em class="fa fa-trash"></em></a>
											</div>
										</div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-12">
											There's not enough communication between departments
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="float-right small">
												<a href="#" class="trash" data-toggle="modal" data-target="#myModal1"><em class="fa fa-pencil"></em></a>
					      						<a href="#" class="trash" data-toggle="modal" data-target="#myModal2"><em class="fa fa-trash"></em></a>
											</div>
										</div>
									</div>

					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col-12">
								Meetings are getting in the way of creative work
							</div>
						</div>
						<div class="row">
							<div class="col-12 small">
								<div class="float-right">
									<a href="#" class="trash" data-toggle="modal" data-target="#myModal1"><em class="fa fa-pencil"></em></a>
		      						<a href="#" class="trash" data-toggle="modal" data-target="#myModal2"><em class="fa fa-trash"></em></a>
								</div>
							</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col-12">
								There's not enough transparency from C-Level management

							</div>
						</div>
						<div class="row">
							<div class="col-12 small">
								<div class="float-right">
									<a href="#" class="trash" data-toggle="modal" data-target="#myModal1"><em class="fa fa-pencil"></em></a>
		      						<a href="#" class="trash" data-toggle="modal" data-target="#myModal2"><em class="fa fa-trash"></em></a>
								</div>
							</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col-12">
								There's a preference for more flexibility in my working hours

							</div>
						</div>
						<div class="row">
							<div class="col-12 small">
								<div class="float-right">
									<a href="#" class="trash" data-toggle="modal" data-target="#myModal1"><em class="fa fa-pencil"></em></a>
		      						<a href="#" class="trash" data-toggle="modal" data-target="#myModal2"><em class="fa fa-trash"></em></a>
								</div>
							</div>
						</div>
					</li>
					<li class="list-group-item">
						<p>
						  <a class="btn btn-primary" data-toggle="modal" data-target="#myModal3" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
						    Add item
						  </a>
						</p>
					</li>
				</ul>
		</div>
	</div>
	
	<%-# column 2 -%>
	<div class="col-4">
		<div class="card">
			<div class="card-header">
			<img class="img-fluid d-block w-25 mx-auto action" src="https://i.imgur.com/1zNf4QE.png">
		    <h5 class="text-center gap">Things we're doing 
									<a href="#" class="trash small" data-toggle="modal" data-target="#myModal1"><em class="fa fa-pencil"></em></a>
								</h5>
								<p class="text-muted small text-center">Sept - Dec 2017
									<a href="#" class="trash" data-toggle="modal" data-target="#myModal1"><em class="fa fa-pencil"></em></a>
								</p>
			</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div class="row">
							<div class="col-12">
								We're currently having discussions about how best to address your feedback. We'll update you by next Monday :) 
							</div>
						</div>
						<div class="row">
							<div class="col-12 small">
								<div class="float-right">
									<a href="#" class="trash" data-toggle="modal" data-target="#myModal1"><em class="fa fa-pencil"></em></a>
		      						<a href="#" class="trash" data-toggle="modal" data-target="#myModal2"><em class="fa fa-trash"></em></a>
								</div>
							</div>
						</div>
					</li>
					<li class="list-group-item">
						<p>
						  <a class="btn btn-primary" data-toggle="modal" data-target="#myModal3" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
						    Add item
						  </a>
						</p>
					</li>
				</ul>
		</div>
	</div>

	<%-# column 3 -%>
	<div class="col-4">
		<div class="card">
			<div class="card-header">
			<img class="img-fluid d-block w-25 mx-auto action" src="https://i.imgur.com/RFzKIjw.png">
		    <h5 class="text-center gap">Perkbox Wins 
									<a href="#" class="trash small" data-toggle="modal" data-target="#myModal1"><em class="fa fa-pencil"></em></a>
								</h5>
								<p class="text-muted small text-center">Sept - Dec 2017
									<a href="#" class="trash" data-toggle="modal" data-target="#myModal1"><em class="fa fa-pencil"></em></a>
								</p>
			</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div class="row">
							<div class="col-12">
								The famous Perkbox beer trolley
							</div>
						</div>
						<div class="row">
							<div class="col-12 small">
								<div class="float-right">
									<a href="#" class="trash" data-toggle="modal" data-target="#myModal1"><em class="fa fa-pencil"></em></a>
		      						<a href="#" class="trash" data-toggle="modal" data-target="#myModal2"><em class="fa fa-trash"></em></a>
								</div>
							</div>
						</div>
					</li>
					<li class="list-group-item">
						<p>
						  <a class="btn btn-primary" data-toggle="modal" data-target="#myModal3" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
						    Add item
						  </a>
						</p>
					</li>
				</ul>
		</div>

		<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <img src="https://i.imgur.com/vTOZ0er.png" style="max-height: 450px">
    </div>
  </div>
</div>


								<!-- Modal -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
		  <div class="form-group">
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="">
		  </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Add item</button>
      </div>
  </div>
</div>	
	</div>
<%-# Header ends -%>

						<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this item?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Delete item</button>
      </div>
    </div>
  </div>
</div>	

						<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
		  <div class="form-group">
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="">
		  </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Save</button>
      </div>
  </div>

</div>










