<%-# Header starts -%>
<div class="row">
	<div class="col-12">
		<div class="gap">
			<nav aria-label="breadcrumb" role="navigation">
			  <ol class="breadcrumb">
			  	<li class="breadcrumb-item active" aria-current="page">Insights</li>
			    <li class="breadcrumb-item active" aria-current="page">Engagement</li>
			  </ol>
			</nav>
		</div>
	</div>
	<div class="col-12">
		<div class="float-left">
			<div class="dropdown">
				<button class="btn btn-light dropdown-toggle small" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Whole Company
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="#">Account Management</a>
					<a class="dropdown-item" href="#">Product & Engineering</a>
					<a class="dropdown-item" href="#">London</a>
					<a class="dropdown-item" href="#">Sheffield</a>
				</div>
			</div>
		</div>
		<div class="float-right">
			<%= link_to pages_compare_path do %>
				<button type="button" class="btn btn-light ">Compare all teams</button>
			<% end %>
			<button type="button" class="btn btn-warning ">Download Report</button>
		</div>
	</div>
</div>
<%-# Header ends -%>

<%-# Separator -%>

<div class="row">
	<div class="col-12">
		<hr>
	</div>
</div>

<%-# Gauge Starts -%>

<div class="row">
	<div class="col-5">
		
		<div id="gauge" style="width:330px; height:260px"></div>
	</div>
	<div class="col-7">
		<div class="space">
			<h2 class="space">7/10 is a great score <em class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="" data-original-title="This score is calculated as a cumulative moving average across all 10 key drivers of engagement. e.g Communication, My work, Leadership, Teamwork etc"></em></h2>
			<p>This engagement score is a great way of keeping the pulse of how your employees are feeling, their dedication to work, sense of purpose and happiness in their job...</p>
			<div class="collapse" id="viewdetails">
				<p>With a score of 7/10, you can expect some of the following business benefits:</p>
					<ul>
						<li>65% less staff turnover</li>
						<li>4% increase in operating margin</li>
						<li>Another benefit</li>
					</ul>
					<div class="spacea">
						<a href "#" class="gap" data-toggle="modal" data-target="#myModal1">See how we measure engagement</a>
					</div>

			</div>
          
          	<a href="#" data-toggle="collapse" data-target="#viewdetails">View details <em class="fa fa-chevron-down"></em></a>
		</div>
	</div>
</div>

<%-# Graph starts -%>
<div class="row">
	<div class="col-12">
		<canvas id="line-chart" width="800" height="250"></canvas>
	</div>
</div>


<%-# Strengths/Weaknesses -%>

<div class="row space">
	<div class="col-6">
		<h2 class="text-center">Your Strengths <em class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Calculated from 4250 survey responses since Jan 2017"></em></h2>
		<p class="text-center text-muted small">UPPER 5 DRIVERS</p>
		<%= link_to pages_organisation_path do %>
		  	<div class="bottomLinks">
		    	<p class="pt-1">The organisation, strategy &amp; culture <span class="float-right text-success">9.5 <i class="fa fa-chevron-right"></i></span></p>
				<div class="progress progress-custom">
					<div class="progress-bar bg-text-color" style="width: 95%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
		  	</div>
		<% end -%>
		<a href="/pages/organisation">
		  	<div class="bottomLinks">
		    	<p class="pt-1">Communication <span class="float-right text-success">9.2 <i class="fa fa-chevron-right"></i></span></p>
				<div class="progress progress-custom">
					<div class="progress-bar bg-text-color" style="width: 92%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
		  	</div>
		</a>
		<a href="/pages/organisation">
		  	<div class="bottomLinks">
		    	<p class="pt-1">My work <span class="float-right text-success">8.7 <i class="fa fa-chevron-right"></i></span></p>
				<div class="progress progress-custom">
					<div class="progress-bar bg-text-color" style="width: 87%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
		  	</div>
		</a>
		<a href="/pages/organisation">
		  	<div class="bottomLinks">
		    	<p class="pt-1">Leadership <span class="float-right text-success">8.1 <i class="fa fa-chevron-right"></i></span></p>
				<div class="progress progress-custom">
					<div class="progress-bar bg-text-color" style="width: 81%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
		  	</div>
		</a>
		<a href="/pages/organisation">
		  	<div class="bottomLinks">
		    	<p class="pt-1">Management <span class="float-right text-success">7.6 <i class="fa fa-chevron-right"></i></span></p>
				<div class="progress progress-custom">
					<div class="progress-bar bg-text-color" style="width: 76%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
		  	</div>
		</a>
	</div>
	<div class="col-6">
		<h2 class="text-center">Your Weaknesses <em class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Calculated from 3590 survey responses since Jan 2017"></em></h2>
		<p class="text-center text-muted small">LOWER 5 DRIVERS</p>
		<a href="/pages/organisation">
		<%= link_to pages_opportunities_path do %>
		  	<div class="bottomLinks">
		    	<p class="pt-1">Opportunities <span class="float-right text-danger">7.4 <i class="fa fa-chevron-right"></i></span></p>
				<div class="progress progress-custom">
					<div class="progress-bar bg-text-color" style="width: 74%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
		  	</div>
		<% end -%>
		<a href="/pages/organisation">
		  	<div class="bottomLinks">
		    	<p class="pt-1">Reward & recognition <span class="float-right text-danger">7.1 <i class="fa fa-chevron-right"></i></span></p>
				<div class="progress progress-custom">
					<div class="progress-bar bg-text-color" style="width: 71%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
		  	</div>
		</a>
		<a href="/pages/organisation">
		  	<div class="bottomLinks">
		    	<p class="pt-1">Training & development <span class="float-right text-danger">6.3 <i class="fa fa-chevron-right"></i></span></p>
				<div class="progress progress-custom">
					<div class="progress-bar bg-text-color" style="width: 63%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
		  	</div>
		</a>
		<a href="/pages/organisation">
		  	<div class="bottomLinks">
		    	<p class="pt-1">Teamwork <span class="float-right text-danger">6.1 <i class="fa fa-chevron-right"></i></span></p>
				<div class="progress progress-custom">
					<div class="progress-bar bg-text-color" style="width: 61%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
		  	</div>
		</a>
		<a href="/pages/organisation">
		  	<div class="bottomLinks">
		    	<p class="pt-1">Quality of life <span class="float-right text-danger">5.7 <i class="fa fa-chevron-right"></i></span></p>
				<div class="progress progress-custom">
					<div class="progress-bar bg-text-color" style="width: 57%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
		  	</div>
		</a>	
	</div>
</div>


<script type="text/javascript">

$(function() {
   $('#easypiechart-4').easyPieChart({
       scaleColor: false,
       barColor: '#00adee'
   });
});
</script>

<script type="text/javascript">
  var g = new JustGage({
    id: "gauge",
    value: 6.7,
    min: 0,
    max: 10,
    gaugeWidthScale: 0.6,
    customSectors: [{
          	color: '#00ADEE',
            lo: 0,
            hi: 33
          },
          {
          	color: '#00ADEE',
            lo: 33,
            hi: 66
          },{
          	color: '#00ADEE',
            lo: 66,
            hi: 100
          }]
  });
</script>

<script>
new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov"],
    datasets: [{ 
        data: [6.2,7.4,6.8,7.4,6.8,8.0,8.2,7.9,8.0,7.1,7.0],
        label: "Engagement",
        borderColor: "#00adee",
        fill: false
      }
    ]
  },
  options: {
    legend: {
    		display: false,
            position: 'bottom',
            labels: {
                fontFamily: 'Lato',
                fontSize: 14,
            }
        },
    scales : {
        xAxes : [ {
            gridLines : {
                display : true,
            }
        } ],
        yAxes : [ {
            gridLines : {
                display : true,
            }
        } ]
    }

  },


});
</script>

<div class="modal fade bd-example-modal-lg" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">How we measure engagement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>It's pretty intuitive to make the leap that engaged employees have a big impact on business success... but what actually makes an engaged employee? What are the drivers and differentiators between engaged and disengaged employees?</p>

				<p>In order to measure engagement, we first need to understand the factors that DRIVE or INFLUENCE employee engagement. There are a plethora of questions, models (i.e. Gallup’s Q12), and approaches to determine this, but we prefer to lean on studies from credible sources that identify the key drivers of engagement. We’ve collected a few of these studies, and outlined the factors they found below:</p>
      </div>
    </div>
  </div>
</div>	

