<%-# Header starts -%>
<div class="row">
	<div class="col-12">
			<nav aria-label="breadcrumb" role="navigation">
			  <ol class="breadcrumb">
			  	<li class="breadcrumb-item"><%= link_to "Users", pages_users_path %></li>
			  	<li class="breadcrumb-item"><%= link_to "Teams", pages_teams_path %></li>
			    <li class="breadcrumb-item active" aria-current="page">Create new team</li>
			  </ol>
			</nav>
	</div>
</div>
<%-# Header ends -%>

<%-# Separator -%>

<div class="row">
	<div class="col-12">
		<hr>
	</div>
</div>

<%-# Stats -%>

<form class="form" action="#">
		<div class="form-group row">
			<label class="col-md-3 col-form-label">Team name</label>
			<div class="col-md-9">
				<input type="text" name="regular" class="form-control" placeholder="First name">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-md-3 col-form-label">Parent team</label>
			<div class="col-md-9">
				<select class="custom-select form-control">
					<option selected="">Perkbox</option>
					<option value="1">Account management</option>
					<option value="2">Product &amp; Engineering</option>
					<option value="2">London</option>
					<option value="2">Sheffield</option>
				</select>
			</div>
		</div>
	<section class="row">
		<br>
		<div class="col-md-6">
		</div>
		<div class="col-md-6">
			<div class="float-right">
				<button type="button" class="btn btn-md btn-warning">Create new team</button>
			</div>
		</div>
	</section>
</form>


