<%-# Header starts -%>
<div class="row">
	<div class="col-12">
			<nav aria-label="breadcrumb" role="navigation">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item active" aria-current="page">My Profile</li>
			  </ol>
			</nav>
	</div>
</div>
<%-# Header ends -%>

<%-# Separator -%>

<div class="row">
	<div class="col-12">
		<hr>
	</div>
</div>

<%-# Stats -%>

<form class="form" action="#">
		<div class="form-group row">
			<label class="col-md-3 col-form-label">First name</label>
			<div class="col-md-9">
				<input type="text" name="regular" class="form-control" value="Shaun">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-md-3 col-form-label">Last name</label>
			<div class="col-md-9">
				<input type="text" name="regular" class="form-control" value="Bradley">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-md-3 col-form-label">Email</label>
			<div class="col-md-9">
				<input type="text" name="regular" class="form-control" value="shaun@perkbox.co.uk">
			</div>
		</div>
		<div class="form-group row">
			

		</div>
		<div class="form-group row">
			<label class="col-md-3 col-form-label">Role</label>
			<div class="col-md-9">
				<select class="custom-select form-control">
					<option selected="">Admin</option>
					<option value="1">Team Lead</option>
					<option value="2">Employee</option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-md-3 col-form-label">Team</label>
			<div class="col-md-9">
				<select class="custom-select form-control">
					<option selected="">Perkbox</option>
					<option value="1">Account management</option>
					<option value="2">Product &amp; Engineering</option>
					<option value="2">London</option>
					<option value="2">Sheffield</option>
				</select>
			</div>
		</div>

	<section class="row">
		<br>
		<div class="col-md-6">
		</div>
		<div class="col-md-6">
			<div class="float-right">
				<button type="button" class="btn btn-md btn-warning">Save</button>
			</div>
		</div>
	</section>
</form>


