<%-# Header starts -%>
<div class="row gap">
	<div class="col-6">
		<nav aria-label="breadcrumb" role="navigation">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item active" aria-current="page">Questions <em class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="" data-original-title="Here are our library of questions separated into their 10 key drivers of engagement."></em></li>
		  </ol>
		</nav>
	</div>
	<div class="col-6">
		<div class="float-right">
			<button type="button" class="btn btn-light">Download CSV of all results</button>
		</div>
	</div>
</div>
<%-# Header ends -%>

<%-# Separator -%>

<div class="row">
	<div class="col-12">
		<div id="accordion" role="tablist">
			<div class="card questions">
			    <div class="card-header" role="tab" id="headingOne">
			      <div class="row">
						<div class="col-6">
					      <h5 class="mb-0">
					        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					          eNPS <i class="fa fa-angle-right" aria-hidden="true"></i>
					        </a>
					      </h5>
					    </div>
					    <div class="col-6">
					    	<div class="float-right">
					        	<button type="button" class="btn btn-warning">View report</button>
					        </div>
					    </div>
					</div>
			    </div>
			    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
			      <div class="card-body">
			        <table class="table table-bordered table-responsive">
					  <thead>
					    <tr>
					      <th scope="col">Question</th>
					      <th scope="col">Responses</th>
					      <th scope="col">Response rate %</th>
					      <th scope="col">Score/10</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td>I would refer a friend or family member to work at Perkbox</td>
					      <td>145</td>
					      <td>67</td>
					      <td class="text-success">7 </td>
					    </tr>
					  </tbody>
					</table>
			      </div>
			    </div>
			  </div>

		  <div class="card questions">
		    <div class="card-header" role="tab" id="headingEleven">
		    	<div class="row">
					<div class="col-6">
				      <h5 class="mb-0">
				        <a data-toggle="collapse" href="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">
				          The organisation, strategy and culture <i class="fa fa-angle-right" aria-hidden="true"></i>
				        </a>
				      </h5>
				    </div>
				    <div class="col-6">
				    	<div class="float-right">
				        	<button type="button" class="btn btn-warning">View report</button>
				        </div>
				    </div>
				</div>
		    </div>

		    <div id="collapseEleven" class="collapse" role="tabpanel" aria-labelledby="headingEleven" data-parent="#accordion">
		      <div class="card-body">
		        <table class="table table-bordered table-responsive">
				  <thead>
				    <tr>
				      <th scope="col">Question</th>
				      <th scope="col">Responses</th>
				      <th scope="col">Response rate %</th>
				      <th scope="col">Score/10</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>Perkbox encourages new ideas and innovation</td>
				      <td>145</td>
				      <td>67</td>
				      <td class="text-success">7</td>
				    </tr>
				    <tr>
				      <td>I have a sense of security in my job</td>
				      <td>97</td>
				      <td>56</td>
				      <td class="text-success">8</td>
				    </tr>
				    <tr>
				      <td>I feel that employees are always treated with respect</td>
				      <td>50</td>
				      <td>20</td>
				      <td class="text-success">9</td>
				    </tr>
				    <tr>
				      <td>I can envisage myself working at Perkbox one year from now</td>
				      <td>145</td>
				      <td>67</td>
				      <td class="text-danger">5</td>
				    </tr>
				    <tr>
				      <td>I feel like the changes that are made at Perkbox help us go in the right direction</td>
				      <td>195</td>
				      <td>87</td>
				      <td class="text-danger">4</td>
				    </tr>
				  </tbody>
				</table>
		      </div>
		    </div>
		  </div>
		  <div class="card questions">
		    <div class="card-header" role="tab" id="headingTwo">
		      <div class="row">
					<div class="col-6">
				      <h5 class="mb-0">
				        <a data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
				          Communication <i class="fa fa-angle-right" aria-hidden="true"></i>
				        </a>
				      </h5>
				    </div>
				    <div class="col-6">
				    	<div class="float-right">
				        	<button type="button" class="btn btn-warning">View report</button>
				        </div>
				    </div>
				</div>
		    </div>
		    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
		      <div class="card-body">
		        <table class="table table-bordered table-responsive">
				  <thead>
				    <tr>
				      <th scope="col">Question</th>
				      <th scope="col">Responses</th>
				      <th scope="col">Response rate %</th>
				      <th scope="col">Score/10</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>I feel I can trust what Perkbox tells me</td>
				      <td>145</td>
				      <td>67</td>
				      <td class="text-danger">3</td>
				    </tr>
				    <tr>
				      <td>I feel that I have a say in major changes that affect me and my job</td>
				      <td>97</td>
				      <td>56</td>
				      <td class="text-danger">5</td>
				    </tr>
				    <tr>
				      <td>There is good communication between the different departments</td>
				      <td>50</td>
				      <td>20</td>
				      <td class="text-danger">4</td>
				    </tr>
				    <tr>
				      <td>Employee opinions and suggestions are given significant consideration in Perkbox's decision making process</td>
				      <td>145</td>
				      <td>67</td>
				      <td class="text-success">7</td>
				    </tr>
				    <tr>
				      <td>I am given all the information I need to do my job well</td>
				      <td>195</td>
				      <td>87</td>
				      <td class="text-success">9</td>
				    </tr>
				  </tbody>
				</table>
		      </div>
		    </div>
		  </div>
		  <div class="card questions">
		    <div class="card-header" role="tab" id="headingThree">
		      <div class="row">
					<div class="col-6">
				      <h5 class="mb-0">
				        <a data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
				          My work <i class="fa fa-angle-right" aria-hidden="true"></i>
				        </a>
				      </h5>
				    </div>
				    <div class="col-6">
				    	<div class="float-right">
				        	<button type="button" class="btn btn-warning">View report</button>
				        </div>
				    </div>
				</div>
		    </div>
		    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
		      <div class="card-body">
		        <table class="table table-bordered table-responsive">
				  <thead>
				    <tr>
				      <th scope="col">Question</th>
				      <th scope="col">Responses</th>
				      <th scope="col">Response rate %</th>
				      <th scope="col">Score/10</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>I have a clear understanding of what is expected of me at work</td>
				      <td>145</td>
				      <td>67</td>
				      <td class="text-danger">3</td>
				    </tr>
				    <tr>
				      <td>The volume of work I have in my role is manageable</td>
				      <td>97</td>
				      <td>56</td>
				      <td class="text-danger">5</td>
				    </tr>
				    <tr>
				      <td>I feel I am contributing towards Perkbox's overall goals</td>
				      <td>50</td>
				      <td>20</td>
				      <td class="text-danger">4</td>
				    </tr>
				    <tr>
				      <td>The work processes we have in place allow for me to do my best</td>
				      <td>145</td>
				      <td>67</td>
				      <td class="text-success">7</td>
				    </tr>
				    <tr>
				      <td>I feel that I am trusted to make my own decisions about how best to do my job</td>
				      <td>195</td>
				      <td>87</td>
				      <td class="text-success">9</td>
				    </tr>
				  </tbody>
				</table>
		      </div>
		    </div>
		  </div>

		  <div class="card questions">
		    <div class="card-header" role="tab" id="headingFour">
		      <div class="row">
					<div class="col-6">
				      <h5 class="mb-0">
				        <a data-toggle="collapse" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
				          Management <i class="fa fa-angle-right" aria-hidden="true"></i>
				        </a>
				      </h5>
				    </div>
				    <div class="col-6">
				    	<div class="float-right">
				        	<button type="button" class="btn btn-warning">View report</button>
				        </div>
				    </div>
				</div>
		    </div>
		    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
		      <div class="card-body">
		        <table class="table table-bordered table-responsive">
				  <thead>
				    <tr>
				      <th scope="col">Question</th>
				      <th scope="col">Responses</th>
				      <th scope="col">Response rate %</th>
				      <th scope="col">Score/10</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>My manager has the skills, knowledge and resources to manage the team well</td>
				      <td>145</td>
				      <td>67</td>
				      <td class="text-danger">3</td>
				    </tr>
				    <tr>
				      <td>My manager allows me the time to undertake career development activities</td>
				      <td>97</td>
				      <td>56</td>
				      <td class="text-danger">5</td>
				    </tr>
				    <tr>
				      <td>My manager provides me with the support I need to succeed</td>
				      <td>50</td>
				      <td>20</td>
				      <td class="text-danger">4</td>
				    </tr>
				    <tr>
				      <td>My manager is open and honest</td>
				      <td>145</td>
				      <td>67</td>
				      <td class="text-success">7</td>
				    </tr>
				    <tr>
				      <td>My manager encourages and empowers me to take the initiative and suggest improvements</td>
				      <td>195</td>
				      <td>87</td>
				      <td class="text-success">9</td>
				    </tr>
				  </tbody>
				</table>
		      </div>
		    </div>
		  </div>


		  <div class="card questions">
		    <div class="card-header" role="tab" id="headingFive">
		      <div class="row">
					<div class="col-6">
				      <h5 class="mb-0">
				        <a data-toggle="collapse" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
				          Leadership <i class="fa fa-angle-right" aria-hidden="true"></i>
				        </a>
				      </h5>
				    </div>
				    <div class="col-6">
				    	<div class="float-right">
				        	<button type="button" class="btn btn-warning">View report</button>
				        </div>
				    </div>
				</div>
		    </div>
		    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
		      <div class="card-body">
		        <table class="table table-bordered table-responsive">
				  <thead>
				    <tr>
				      <th scope="col">Question</th>
				      <th scope="col">Responses</th>
				      <th scope="col">Response rate %</th>
				      <th scope="col">Score/10</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>I understand the mission/purpose of Perkbox</td>
				      <td>145</td>
				      <td>67</td>
				      <td class="text-danger">3</td>
				    </tr>
				    <tr>
				      <td>The senior management at Perkbox is open and honest in communication</td>
				      <td>97</td>
				      <td>56</td>
				      <td class="text-danger">5</td>
				    </tr>
				    <tr>
				      <td>The senior management cares about what is on employees’ minds</td>
				      <td>50</td>
				      <td>20</td>
				      <td class="text-danger">4</td>
				    </tr>
				    <tr>
				      <td>The senior management treats employees as Perkbox's most valued asset</td>
				      <td>145</td>
				      <td>67</td>
				      <td class="text-success">7</td>
				    </tr>
				    <tr>
				      <td>I trust the senior management to appropriately balance employee interests with those of Perkbox</td>
				      <td>195</td>
				      <td>87</td>
				      <td class="text-success">9</td>
				    </tr>
				  </tbody>
				</table>
		      </div>
		    </div>
		  </div>

		  <div class="card questions">
		    <div class="card-header" role="tab" id="headingSix">
		      <div class="row">
					<div class="col-6">
				      <h5 class="mb-0">
				        <a data-toggle="collapse" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
				          Opportunities <i class="fa fa-angle-right" aria-hidden="true"></i>
				        </a>
				      </h5>
				    </div>
				    <div class="col-6">
				    	<div class="float-right">
				        	<button type="button" class="btn btn-warning">View report</button>
				        </div>
				    </div>
				</div>
		    </div>
		    <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion">
		      <div class="card-body">
		        <table class="table table-bordered table-responsive">
				  <thead>
				    <tr>
				      <th scope="col">Question</th>
				      <th scope="col">Responses</th>
				      <th scope="col">Response rate %</th>
				      <th scope="col">Score/10</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>I feel that I have future career opportunities at Perkbox</td>
				      <td>145</td>
				      <td>67</td>
				      <td class="text-danger">3</td>
				    </tr>
				    <tr>
				      <td>I have opportunities to develop skills to achieve my career goals</td>
				      <td>97</td>
				      <td>56</td>
				      <td class="text-danger">5</td>
				    </tr>
				    <tr>
				      <td>Perkbox focuses on promoting the people best equipped to meet the future needs of the company</td>
				      <td>50</td>
				      <td>20</td>
				      <td class="text-danger">4</td>
				    </tr>
				    <tr>
				      <td>If I perform well in my role, it will lead to opportunities for me to progress</td>
				      <td>145</td>
				      <td>67</td>
				      <td class="text-success">7</td>
				    </tr>
				    <tr>
				      <td>The performance review process helps me focus my work efforts to help the organisation achieve its goals</td>
				      <td>195</td>
				      <td>87</td>
				      <td class="text-success">9</td>
				    </tr>
				  </tbody>
				</table>
		      </div>
		    </div>
		  </div>

		  <div class="card questions">
		    <div class="card-header" role="tab" id="headingSeven">
		      <div class="row">
					<div class="col-6">
				      <h5 class="mb-0">
				        <a data-toggle="collapse" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
				          Reward & recognition <i class="fa fa-angle-right" aria-hidden="true"></i>
				        </a>
				      </h5>
				    </div>
				    <div class="col-6">
				    	<div class="float-right">
				        	<button type="button" class="btn btn-warning">View report</button>
				        </div>
				    </div>
				</div>
		    </div>
		    <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#accordion">
		      <div class="card-body">
		        <table class="table table-bordered table-responsive">
				  <thead>
				    <tr>
				      <th scope="col">Question</th>
				      <th scope="col">Responses</th>
				      <th scope="col">Response rate %</th>
				      <th scope="col">Score/10</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>My salary and benefits package meet my needs well</td>
				      <td>145</td>
				      <td>67</td>
				      <td class="text-danger">3</td>
				    </tr>
				    <tr>
				      <td>I am paid fairly for the contributions I make to Perkbox's success</td>
				      <td>97</td>
				      <td>56</td>
				      <td class="text-danger">5</td>
				    </tr>
				    <tr>
				      <td>I am rewarded for exceeding my goals</td>
				      <td>50</td>
				      <td>20</td>
				      <td class="text-danger">4</td>
				    </tr>
				    <tr>
				      <td>I receive appropriate recognition (beyond my pay) for my contributions and accomplishments</td>
				      <td>145</td>
				      <td>67</td>
				      <td class="text-success">7</td>
				    </tr>
				    <tr>
				      <td>I feel I am adequately paid compared to my colleagues at other organisations</td>
				      <td>195</td>
				      <td>87</td>
				      <td class="text-success">9</td>
				    </tr>
				  </tbody>
				</table>
		      </div>
		    </div>
		  </div>

		  <div class="card questions">
		    <div class="card-header" role="tab" id="headingEight">
		      <div class="row">
					<div class="col-6">
				      <h5 class="mb-0">
				        <a data-toggle="collapse" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
				          Training & development <i class="fa fa-angle-right" aria-hidden="true"></i>
				        </a>
				      </h5>
				    </div>
				    <div class="col-6">
				    	<div class="float-right">
				        	<button type="button" class="btn btn-warning">View report</button>
				        </div>
				    </div>
				</div>
		    </div>
		    <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight" data-parent="#accordion">
		      <div class="card-body">
		        <table class="table table-bordered table-responsive">
				  <thead>
				    <tr>
				      <th scope="col">Question</th>
				      <th scope="col">Responses</th>
				      <th scope="col">Response rate %</th>
				      <th scope="col">Score/10</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>In the last 6 months my manager has talked to me about my progress</td>
				      <td>145</td>
				      <td>67</td>
				      <td class="text-danger">3</td>
				    </tr>
				    <tr>
				      <td>My manager encourages and supports my development</td>
				      <td>97</td>
				      <td>56</td>
				      <td class="text-danger">5</td>
				    </tr>
				    <tr>
				      <td>There is an effective process to help me identify any development needs</td>
				      <td>50</td>
				      <td>20</td>
				      <td class="text-danger">4</td>
				    </tr>
				    <tr>
				      <td>Perkbox provides training to help me build skills that are valuable to me</td>
				      <td>145</td>
				      <td>67</td>
				      <td class="text-success">7</td>
				    </tr>
				    <tr>
				      <td>When I started work I received as much induction training as I needed</td>
				      <td>195</td>
				      <td>87</td>
				      <td class="text-success">9</td>
				    </tr>
				  </tbody>
				</table>
		      </div>
		    </div>
		  </div>

		  <div class="card questions">
		    <div class="card-header" role="tab" id="headingNine">
		      <div class="row">
					<div class="col-6">
				      <h5 class="mb-0">
				        <a data-toggle="collapse" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
				          Quality of life <i class="fa fa-angle-right" aria-hidden="true"></i>
				        </a>
				      </h5>
				    </div>
				    <div class="col-6">
				    	<div class="float-right">
				        	<button type="button" class="btn btn-warning">View report</button>
				        </div>
				    </div>
				</div>
		    </div>
		    <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine" data-parent="#accordion">
		      <div class="card-body">
		        <table class="table table-bordered table-responsive">
				  <thead>
				    <tr>
				      <th scope="col">Question</th>
				      <th scope="col">Responses</th>
				      <th scope="col">Response rate %</th>
				      <th scope="col">Score/10</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>The balance between my work and personal commitments is right for me</td>
				      <td>145</td>
				      <td>67</td>
				      <td class="text-danger">3</td>
				    </tr>
				    <tr>
				      <td>My work-related stress is manageable for me</td>
				      <td>97</td>
				      <td>56</td>
				      <td class="text-danger">5</td>
				    </tr>
				    <tr>
				      <td>I can keep a reasonable balance between work and personal life</td>
				      <td>50</td>
				      <td>20</td>
				      <td class="text-danger">4</td>
				    </tr>
				    <tr>
				      <td>The work environment is appropriate for the type of work I do</td>
				      <td>145</td>
				      <td>67</td>
				      <td class="text-success">7</td>
				    </tr>
				    <tr>
				      <td>My regular work location is convenient for me</td>
				      <td>195</td>
				      <td>87</td>
				      <td class="text-success">9</td>
				    </tr>
				  </tbody>
				</table>
		      </div>
		    </div>
		  </div>

		  <div class="card questions">
		    <div class="card-header" role="tab" id="headingTen">
		      <div class="row">
					<div class="col-6">
				      <h5 class="mb-0">
				        <a data-toggle="collapse" href="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
				          Teamwork <i class="fa fa-angle-right" aria-hidden="true"></i>
				        </a>
				      </h5>
				    </div>
				    <div class="col-6">
				    	<div class="float-right">
				        	<button type="button" class="btn btn-warning">View report</button>
				        </div>
				    </div>
				</div>
		    </div>
		    <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen" data-parent="#accordion">
		      <div class="card-body">
		        <table class="table table-bordered table-responsive">
				  <thead>
				    <tr>
				      <th scope="col">Question</th>
				      <th scope="col">Responses</th>
				      <th scope="col">Response rate %</th>
				      <th scope="col">Score/10</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>I see teams working together effectively across different departments</td>
				      <td>145</td>
				      <td>67</td>
				      <td class="text-danger">3</td>
				    </tr>
				    <tr>
				      <td>I feel part of a team working towards a shared goal</td>
				      <td>97</td>
				      <td>56</td>
				      <td class="text-danger">5</td>
				    </tr>
				    <tr>
				      <td>My colleagues are committed to doing quality work</td>
				      <td>50</td>
				      <td>20</td>
				      <td class="text-danger">4</td>
				    </tr>
				    <tr>
				      <td>My colleagues respect my thoughts and feelings</td>
				      <td>145</td>
				      <td>67</td>
				      <td class="text-success">7</td>
				    </tr>
				    <tr>
				      <td>I have a good friend at work</td>
				      <td>195</td>
				      <td>87</td>
				      <td class="text-success">9</td>
				    </tr>
				  </tbody>
				</table>
		      </div>
		    </div>
		  </div>



		</div>
	</div>
</div>




